.container1 {
    /* top: 0; */
    width: 100vw;
    height: 100vh;
    /* background-color: wheat; */
    /* background: linear-gradient(60deg, var(--blue) 0%, var(--black) 100%); */
    background: url(./login-background.jpeg);
    backdrop-filter: blur(20px);
    position: absolute;
    overflow-y: hidden;
}

.data-entry {
    position: relative;
    top: 4rem;
    width: 80%;
    margin: auto;
    height: 100%;
    margin-top: -4rem;
}

.loginpage {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin: auto;
    /* background-color: aqua; */
    justify-content: center;
    align-items: flex-end;
}

.col-md-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form {
    color: var(--blue);
    display: flex;
    flex-direction: column;
    margin-top: 0.2rem;
    max-width: 40%;
    min-height: 70%;
    padding: 30px 50px;
    justify-content: center;
    /* background-color: aliceblue; */
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur('10px');
    border-radius: 20px;
    align-items: center;
    box-shadow: 10px 10px 10px 0 black;
}

.mb-3 {
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -0.8rem;
}

.heading1 {
    font-size: 2rem;
}

.m2 {
    margin-top: 2rem;
}

.headinglogreg {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.form-label {
    font-size: 1rem;
}

.form-control,
.form-select {
    padding: 10px 20px;
    font-size: 0.8rem;
}

.btns {
    width: 100%;
}

.btns button {
    width: 100%;
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    background: var(--blue);
    border: 1px solid var(--orange);
    border-radius: 20px;
    margin-top: 1rem;
}

.btns button a {
    color: white;
    text-decoration: none;
}

.btns button:hover a {
    color: var(--orange);
}

.btns button:hover {
    transition: all .3s ease;
    color: var(--orange);
    background-color: white;
    border: 1px solid var(--blue);
}

.form-check {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: -1.5rem 0;
    width: 117%;
}

.form-label1 {
    margin-top: 1rem;
}


/* .form-control-btn {
    padding: 20px 10px;
} */

.form-check-label {
    margin: 1rem 1rem 1rem 2rem;
}

.col .orword {
    font-size: 1rem;
}

@media screen and (max-width:1420px) {
    .heading1 {
        font-size: 1rem;
    }
}