.container1 {
    width: 100vw;
    height: 100vh;
    /* background-color: wheat; */
    /* background: linear-gradient(60deg, var(--blue) 0%, var(--black) 100%); */
    background: url(./login-background.jpeg);
    backdrop-filter: blur(20px);
}

.loginpage {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin: auto;
    /* background-color: aqua; */
    justify-content: center;
    align-items: flex-end;
}

.form {
    color: var(--blue);
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    min-width: 40%;
    min-height: 70%;
    padding: 30px 50px;
    justify-content: center;
    /* background-color: aliceblue; */
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur('10px');
    border-radius: 20px;
    align-items: center;
    box-shadow: 10px 10px 10px 0 black;
}

.mb-3 {
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}

.m2 {
    margin-top: 2rem;
}

.headinglogreg {
    font-size: 2rem;
}

.form-label {
    font-size: 1rem;
    margin-bottom: 3px;
}

.form-control {
    padding: 10px 20px;
    font-size: 0.8rem;
}

.btns {
    width: 100%;
}

.btns button {
    width: 100%;
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    background: var(--blue);
    border: 1px solid var(--orange);
    border-radius: 20px;
}

.btns button:hover {
    transition: all .3s ease;
    color: var(--orange);
    background-color: white;
    border: 1px solid var(--blue);
}

.form-check {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.form-check-label {
    margin: 1rem 1rem 1rem 2rem;
}

.orword {
    font-size: 1rem;
}